.navbar, .dropdown-menu, footer
{
    background-color: rgb(26, 26, 32);
}

body{
    margin-bottom: 200px;
}

/*#load-students{*/
/*    margin-left: 45%;*/
/*    margin-bottom: 1%;*/
/*}*/

/*.table{*/
/*    max-width: 70%;*/
/*    margin-left: 15%;*/
/*}*/

.lead, .dropdown-item{
    color: #f3ecec;
}

footer{
    bottom: 0;
    position: fixed;
}

.form-control{
    max-width: 80%;
    margin: 1%;
}

.input-group-prepend{
    margin: 1%;
}

.input-group-text{
    min-width: 70px;
}

.input-group
{
    padding-left: 7%;
}

.header-class-1{
    padding-left: 16% !important;
}

/*#btn-update-student, #btn-update-teacher{*/
/*    margin-bottom: 15%;*/


.cancel-1{
    margin-left: 10%!important;
    max-height: 38px!important;
}

.table-btns{
    margin: 0 1% 1%;
}



