.navbar, .dropdown-menu, footer
{
    background-color: rgb(26, 26, 32);
}

.navbar{
    min-height: 70px;
}

body{
    margin-bottom: 200px;
}

.lead, .dropdown-item{
    color: #f3ecec;
}

footer{
    bottom: 0;
    position: fixed;
}

.form-control{
    max-width: 80%;
    margin: 1%;
}

.input-group-prepend, .form-select{
    margin: 1%;
}

.input-group-text{
    min-width: 70px;
}

.input-group
{
    padding-left: 7%;
}

.header-class-1{
    padding-left: 16% !important;
}

.cancel-1{
    margin-left: 10%!important;
    max-height: 38px!important;
}

.table-btns{
    margin: 0 1% 1%;
}

.card-title, .card-text{
    text-align: center;
}

.card{
    margin: 1%;
}

.card-row
{
    margin-left: 22%;
}

.card-btn{
    margin-left: 37%;
    margin-top: 20px;
    height: 40px;
}


/*.carousel-inner{*/
/*    margin-left: 38%;*/
/*    margin-top: 3%;*/
/*}

/*!*.carousel-inner{*!*/
/*!*    margin: 5%;*!*/
/*!*}*!*/





